.inside ul li span{background-image:url(../img/apt_sprite_icons.png);background-repeat:no-repeat;width:16px;height:16px;float:left;margin-right:5px;}
.inside table {clear:none;}
.inside .submit{padding:5px 0 0 0 !important;}
.inside p {margin-bottom:0;}
.postbox h3{cursor:default !important;}
.handlediv{cursor:pointer;}

.apt_help{cursor:help;padding:0px 4px;margin-left:10px;background:#c9c9c9;text-decoration:none;color:white;font-size:12px;font-family:Courier;font-weight:bold;border-radius:20px;}
.apt_help:hover{background:#a1a4c9}

.apt_wp{background-position: -34px 0px;}
.apt_rate{background-position: -51px 0px;}
.apt_twitter{background-position: -17px 0px;}
.apt_devtard{background-position: 0px 0px;}

.apt_sub_option{margin-left:20px;}
.apt_manage_tags_div{max-height:400px;overflow:auto;}
.apt_red_background:hover{background:#FFD2D2 !important;}

.apt_margin_left_18{margin-left:18px;}
.apt_width_100_percent{width:100%;}
.apt_width_65_percent{width:65%;}
.apt_width_35_percent{width:35%;}

.apt_float_right{float:right;}
.apt_bulk_tagging_queue{list-style-type:disc;margin-left:15px;}
.apt_button_margin_left{margin-left:5px !important;}

#apt_box_tag_name{min-width:50px;width:100%;}
#apt_box_tag_related_words{min-width:50px;width:100%;}
#apt_box_message{margin-top:10px;clear:both !important;}
